@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background: rgba(217, 217, 217, 1);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Fira Code', monospace;
}

